@model Presentation.Web.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .starPlayer {
        background: rgb(239, 117, 39);
    }

    .normal {
        background: none;
    }

    .victory {
        color: rgb(25, 216, 0);
    }

    .draw {
        color: rgb(46, 221, 28);
    }

    .defeat {
        color: rgb(225, 59, 30);
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <img src="@Model.Club.BadgeUrl" alt="..." width="50px" height="50px">
        <h2>@Model.Club.Name - </h2>
        <img src="~/img/trophy.png" alt="..." width="50px" height="50px">
        <h2>@Model.Club.Trophies</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm">
            <table class="table">
                <tbody>
                    @foreach (var member in Model.Club.Members)
                    {
                        <tr>
                            <td><img src="@member.AvatarUrl" alt="..." width="50px" height="50px"></td>
                            <td>@member.Name</td>
                            <td>
                                <div>
                                    <img src="~/img/trophy.png" alt="..." width="50px" height="50px">
                                    @member.Trophies
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <tbody>
                    @foreach (var item in Model.BattleLogItems)
                    {
                        <tr>
                            <td>
                                <div class="row justify-content-center mb-2" style="background: #134b8a">
                                    <div class="col">
                                        @item.Battle.Mode
                                    </div>
                                    <div class="col text-center @(item.Battle.Result.ToString().ToLowerInvariant())">
                                        @item.Battle.Result <img src="~/img/trophy.png" alt="..." width="25px" height="25px"> @item.Battle.TrophyChange
                                    </div>
                                    <div class="col text-right" style="font-size:11px">
                                        @item.BattleTime
                                    </div>
                                </div>
                                <div class="row">
                                    @foreach (var team in item.Battle.Teams)
                                    {
                                        @foreach (var player in team)
                                        {
                                            <div class="col-sm">
                                                <div class="row no-gutters justify-content-center">
                                                    <img src="~/img/brawlers/@(player.Brawler.Name.ToLowerInvariant()).png" alt="..." width="50px" height="50px">
                                                </div>
                                                <div class="row no-gutters justify-content-center @(player.Name == item.Battle.StarPlayer.Name ? "starPlayer" : "normal")" style="font-size:11px">
                                                    @player.Name
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
